In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine

In [3]:
%sql postgresql://postgres:admin@localhost/stackoverflow_poll

In [4]:
engine = create_engine('postgresql://postgres:admin@localhost/stackoverflow_poll')

### Qual a quantidade de respondentes de cada país?

In [5]:
%%sql
SELECT COUNT(DISTINCT nome) "Quantidade de respondentes", (SELECT pais.nome FROM pais WHERE pais.id=pais_id) "País"
FROM respondente
GROUP BY respondente.pais_id 
ORDER BY "Quantidade de respondentes" DESC;

 * postgresql://postgres:***@localhost/stackoverflow_poll
137 rows affected.

[(2350, 'United States'),
 (1124, 'India'),
 (749, 'United Kingdom'),
 (655, 'Germany'),
 (360, 'Canada'),
 (278, 'France'),
 (270, 'Russian Federation'),
 (255, 'Brazil'),
 (233, 'Poland'),
 (203, 'Spain'),
 (194, 'Australia'),
 (193, 'Netherlands'),
 (166, 'Italy'),
 (129, 'Sweden'),
 (109, 'Ukraine'),
 (107, 'Switzerland'),
 (101, 'Israel'),
 (98, 'Turkey'),
 (92, 'China'),
 (89, 'Iran, Islamic Republic of...'),
 (88, 'Mexico'),
 (87, 'Pakistan'),
 (84, 'Romania'),
 (80, 'Belgium'),
 (72, 'Czech Republic'),
 (72, 'Austria'),
 (71, 'South Africa'),
 (66, 'Denmark'),
 (63, 'Ireland'),
 (60, 'Norway'),
 (60, 'New Zealand'),
 (59, 'Finland'),
 (58, 'Bangladesh'),
 (55, 'Greece'),
 (54, 'Portugal'),
 (52, 'Argentina'),
 (50, 'Indonesia'),
 (44, 'Bulgaria'),
 (40, 'Philippines'),
 (39, 'Nigeria'),
 (39, 'Hungary'),
 (39, 'Japan'),
 (37, 'Singapore'),
 (35, 'Sri Lanka'),
 (33, 'Colombia'),
 (33, 'Egypt'),
 (31, 'Belarus'),
 (31, 'Slovenia'),
 (31, 'Serbia'),
 (30, 'Nepal'),
 (29, 'Lithuania'),
 (28, 'Malaysia'),
 (28, 'Chile'),
 (25, 'Viet Nam'),
 (25, 'Croatia'),
 (24, 'Slovakia'),
 (24, 'Thailand'),
 (23, 'Estonia'),
 (22, 'Hong Kong (S.A.R.)'),
 (21, 'United Arab Emirates'),
 (19, 'Latvia'),
 (17, 'South Korea'),
 (17, 'Morocco'),
 (16, 'Taiwan'),
 (15, 'Saudi Arabia'),
 (15, 'Peru'),
 (14, 'Kenya'),
 (12, 'Kazakhstan'),
 (12, 'Lebanon'),
 (11, 'Costa Rica'),
 (11, 'Dominican Republic'),
 (10, 'Luxembourg'),
 (9, 'Other Country (Not Listed Above)'),
 (8, 'Cyprus'),
 (7, 'Venezuela, Bolivarian Republic of...'),
 (7, 'Georgia'),
 (6, 'Uganda'),
 (6, 'Cambodia'),
 (6, 'Azerbaijan'),
 (5, 'Madagascar'),
 (5, 'Andorra'),
 (5, 'Algeria'),
 (5, 'Jordan'),
 (5, 'Mongolia'),
 (5, 'Ecuador'),
 (5, 'Panama'),
 (5, 'Cuba'),
 (5, 'Tunisia'),
 (5, 'Uruguay'),
 (5, 'Uzbekistan'),
 (5, 'Armenia'),
 (5, 'Albania'),
 (5, 'Bosnia and Herzegovina'),
 (4, 'Republic of Moldova'),
 (4, 'Nicaragua'),
 (4, 'Kyrgyzstan'),
 (4, 'Malta'),
 (4, 'Ethiopia'),
 (4, 'Zimbabwe'),
 (4, 'The former Yugoslav Republic of Macedonia'),
 (4, 'Paraguay'),
 (3, 'El Salvador'),
 (3, 'Guatemala'),
 (3, 'Syrian Arab Republic'),
 (3, 'Republic of Korea'),
 (2, 'Liechtenstein'),
 (2, 'Maldives'),
 (2, 'United Republic of Tanzania'),
 (2, 'Yemen'),
 (2, 'Bolivia'),
 (2, 'Montenegro'),
 (2, 'Afghanistan'),
 (2, 'Qatar'),
 (2, 'Mauritius'),
 (2, 'Iceland'),
 (1, 'Sudan'),
 (1, 'Bahrain'),
 (1, 'Togo'),
 (1, 'Namibia'),
 (1, 'Kuwait'),
 (1, 'Jamaica'),
 (1, 'Iraq'),
 (1, 'Angola'),
 (1, 'Swaziland'),
 (1, 'Ghana'),
 (1, 'Congo, Republic of the...'),
 (1, 'Cameroon'),
 (1, 'Senegal'),
 (1, 'Solomon Islands'),
 (1, 'Myanmar'),
 (1, 'Turkmenistan'),
 (1, 'Honduras'),
 (1, 'Mozambique'),
 (1, 'Botswana'),
 (1, 'Fiji'),
 (1, 'Oman'),
 (1, 'Rwanda')]

### Quantos usuários que moram em "United States" gostam de Windows?

In [7]:
%%sql
SELECT COUNT(DISTINCT nome) "Respondentes de United States usuários de Windows" 
FROM respondente 
WHERE pais_id = 
    (SELECT pais.id FROM pais WHERE pais.nome = 'United States')
AND sistema_operacional_id = 
    (SELECT sistema_operacional.id FROM sistema_operacional WHERE sistema_operacional.nome = 'Windows')
;

 * postgresql://postgres:***@localhost/stackoverflow_poll
1 rows affected.

[(961,)]

### Qual a média de salário dos usuários que moram em Israel e gostam de Linux?

In [9]:
%%sql
SELECT ROUND(AVG(salario),2) as "Média de Salário de Israel que utilizam Linux" FROM respondente
WHERE pais_id = 
	(SELECT pais.id FROM pais WHERE pais.nome = 'Israel')
AND sistema_operacional_id = 
	(SELECT sistema_operacional.id FROM sistema_operacional WHERE sistema_operacional.nome = 'Linux-based')
;

 * postgresql://postgres:***@localhost/stackoverflow_poll
1 rows affected.

[(Decimal('28335.34'),)]

### Qual a média e o desvio padrão do salário dos usuários que usam Slack para cada tamanho de empresa disponível?

In [10]:
%%sql
SELECT ROUND(AVG(salario),2) "Média de Salário", ROUND(STDDEV(salario), 2) "Desvío Padrão", 
(SELECT empresa.tamanho FROM empresa WHERE empresa.id = empresa_id) "Tamanho de empresa"
FROM respondente
GROUP BY empresa_id;

 * postgresql://postgres:***@localhost/stackoverflow_poll
9 rows affected.

[(Decimal('30720.97'), Decimal('87645.29'), 'Fewer than 10 employees'),
 (Decimal('39914.51'), Decimal('93795.90'), '5,000 to 9,999 employees'),
 (Decimal('35256.93'), Decimal('82878.87'), '500 to 999 employees'),
 (Decimal('36358.25'), Decimal('81283.68'), '100 to 499 employees'),
 (Decimal('32774.77'), Decimal('74837.23'), '20 to 99 employees'),
 (Decimal('31299.48'), Decimal('89709.46'), '10 to 19 employees'),
 (Decimal('36741.37'), Decimal('75656.28'), '1,000 to 4,999 employees'),
 (Decimal('19782.98'), Decimal('66396.81'), ''),
 (Decimal('50952.68'), Decimal('112649.48'), '10,000 or more employees')]

#### IMPORTANTE: Faltou filtrar os usuários que utilizam Slack.